venv/
__pycache__/
*.pyc
.DS_Store

node_modules/
dist/
.env
.env.local

cache/

# IDE
.idea/

# Next.js build output
.next/
safetruck-next/.next/

# datasets pesados
database/data/**/*.geojson
database/base/**/*.geojson
*.geojson
database/graph.json